.mainDiv{
  display: grid;
  grid-template-columns: 100px 600px 400px 200px;
  background-color: whitesmoke;
  justify-content: space-around;
  height: 80px;
}
.logo{
  background-color: blue;
  height:"100px"
}
.navlink{
text-decoration: "none";
padding: "5px";
color:"black"

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f5f5;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
 
  border-bottom: "1px solid green";
  border: "1px solid red";
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

li.dropdown {
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdownContent {
  display: block;
}